.ShowRoutes {
    background-color: #ece8d6;
    min-height: calc(100vh - 5rem);
    width: 100%;
    >div {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        padding: 1rem;
        max-width: 50rem;
        margin: 0 auto;
    }
}