.Login {
    width: 95vw;
    max-width: 50rem;
    background-color: #F2F1ED;
    padding: 2rem;
    border-radius: .5rem;
    h1 {
        margin-bottom: 2rem;
    }
    .Login__form--btns {
        width: 100%;
        display: flex;
        gap: 1rem;
        button {
            width: 50%;
        }
    }
}