.Signup {
    width: 95vw;
    max-width: 50rem;
    background-color: #F2F1ED;
    padding: 2rem;
    border-radius: .5rem;
    nav {
        display: flex;
        justify-content: space-between;
    }
    .Signup__Form {
        >div {
            margin-bottom: 1rem;
            >div {
                padding: 0;
            }
        }
    }
}