.Home {
    background-color: #F2F1ED;
    min-height: calc(100vh - 5rem);
    display: flex;
    justify-content: center;
    .Home__btns {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1.5rem;
        padding: 1.5rem;
        width: 100%;
        * {
            color: white;
        }
        button {
            background-color: #FF6000;
            outline: none;
            border: none;
            border-radius: .5rem;
            padding: 1rem;
            svg {
                font-size: 5.8rem;
                margin-bottom: 1rem;
            }
            p {
                font-size: 2rem;
            }
        }
        button:nth-child(1),
        button:nth-child(4) {
            grid-column: span 2;
        }
    }
}