.map__fullContainer {
    height: calc(100vh - 5rem);
    overflow: hidden;
}

.leaflet-container {
    height: 100%;
    width: 100vw;
}

.info__icon {
    color: white;
    font-size: 3rem;
    position: absolute;
    top: 7rem;
    right: 2rem;
    z-index: 1001;
    background-color: #ff6000;
    padding: 1rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.map__upIcon {
    position: absolute;
    bottom: 1rem;
    font-size: 4rem;
    aspect-ratio: 1/1;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1001;
    padding: .5rem;
    background-color: #ff6000;
    border-radius: 50%;
    color: white;
}