.ShowRoute {
    width: 100%;
    padding: 1rem;
    border: none;
    border-radius: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    h2 {
        font-size: 1.5rem;
        margin-bottom: 1rem;
        flex: 1;
        align-self: center
    }
    img {
        width: 100%;
        aspect-ratio: 1.5/1;
        object-fit: cover;
    }
    >div {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 1rem 0;
        >div {
            justify-self: center;
            display: flex;
            align-items: center;
            gap: .5rem;
            * {
                color: rgb(166, 160, 160);
            }
        }
    }
}